@font-face {
    font-family: "inconsolata";
    src: url(../font/inconsolata.ttf);
}

*{
    margin: 0;
    padding: 0;
}

html, body{
    overflow: hidden;
}

.webgl{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

::selection{
    background: transparent;
    color: inherit;
}

#conteneur_button{
    display: none !important;
    position: absolute;
    left: 50%;
    color: black;
    font-family: "inconsolata";
    font-size: clamp(1em, 1vw, 3em);
    z-index: 100;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contener_modif_element{
    display: none;
}

.wich_form{
    margin-bottom: 15px;
    font-size: clamp(.8em, .8vw, 3em);
    padding: 10px 10px;
    border-radius: 0px;
    border: 1px solid gray;
    cursor: default !important;
    font-family: "inconsolata";

}

.wich_form:hover{
    background-color: gray;
}

#map_coordinate{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#map{
    position: relative;
    width: 10vw;
    height: 10vh;
    /* border: 3px solid rgb(255, 255, 255); */
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
    /* border-radius: 10px; */
    z-index: 200;
    overflow: hidden;
    /* background-color: green; */
    background-image: url(../img/map_background.png);
    background-color: rgba(150, 150, 150, .8);
    background-size: 100% 100%, 100% 100%;
    background-position: center, center;
    opacity: 1;
    border-radius: 15px 15px 0px 0px;
    /* cursor: crosshair; */
    cursor: default;
    cursor: pointer;
    caret-color: black !important;
}

#map:hover{
    background-size: 100% 100%, 100% 100%, 25% 33%;
    background-position: center, center, 0% 0%;
}

#player{
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    background-color: rgb(255, 255, 255);
    width: 8px;
    height: 8px;
    border-radius: 100%;
}

#direction{
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    transform: translate(0%, calc(-100% + 4px));
    border-bottom: 8px solid white;
}

.row{
    display: none;
    flex-direction: row;
    height: 33%;
    width: 100%;
    border-bottom: 1px solid rgb(110, 110, 110);
}

.column{
    width: 25%;
    height: 100%;
    border-right: 1px solid rgb(110, 110, 110);
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

#hover_infos{
    display: none;
    position: absolute;
    z-index: 3000;
    left: 20%;
    top: 20%;
    background-color: rgba(20, 20, 20, .9);
    color: rgb(150, 150, 150);
    font-family: "inconsolata";
    font-size: .9vw;
    line-height: 1.1;
    padding: 5px;
    border-radius: 5px;
}

.bold, #number_map{
    font-style: normal;
    font-family: "inconsolata";
    font-variation-settings: 'wdth' 100, 'wght' 800; 
    font-size: .8vw;
}

#number_map_x, #number_map_y, #x_coord, #y_coord{
    font-style: normal;
    font-variation-settings: 'wdth' 100, 'wght' 400; 
    font-size: .8vw;
}

#map_modif_color{
    display: none;
}

#contener_modifier, #contener_rapel{
    /* display: none; */
    position: absolute;
    left: 20px;
    top: 20px;
    width: fit-content;
    height: auto;
    z-index: 1000;
    color: white;
    font-family: "inconsolata";
    font-size: .9vw;
    line-height: 1.2;
    overflow: scroll;
    overflow: visible;
    /* border-radius: 0px 20px 20px 0px; */
}

#open{
    position: absolute;
    z-index: 3000;
    bottom: 27%;
    right: 20px;
    background-color: rgba(20, 20, 20, .8);
    box-shadow: 0px 0px 20px 0px rgba(20, 20, 20, 1);
    border-radius: 100%;
    width: 10px;
    height: 10px;
    font-family: "inconsolata";
    font-size: 1.5vw;
    font-variation-settings: 'wdth' 100, 'wght' 800; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 12px;
    cursor: pointer;
    display: none !important;
}

#close{
    display: none;
    cursor: pointer;
}

.bloc{
    background-color: rgba(20, 20, 20, .9);
    padding: 20px;
    box-shadow: 0px 0px 20px 0px rgba(20, 20, 20, 1);
    border-radius: 15px;
    width: fit-content;
}

#contener_rapel{
    right: 20px;
    left: unset;
    top: 20px;
    /* bottom: 27%; */
    /* top: unset; */
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    box-sizing: border-box;
    display: block !important;
}

#contener_map_modif{
    display: none;
}

#contener_rapel .contener_each_modif{
    margin-right: 30px;
}

#contener_rapel .contener_each_modif:last-of-type{
    margin-right: 0px;
}

h1{
    color: rgb(115, 115, 115) !important;
}

h1, h2{
    font-weight: normal;
    font-size: .9vw;
    color: gray;
    font-variation-settings: 'wdth' 100, 'wght' 800;
}

h1:first-of-type, h2:first-of-type{
    margin-top: 0px;
}

.contener p{
    font-size: .9vw;
    font-variation-settings: 'wdth' 100, 'wght' 350;
}

.contener_each_modif{
    margin-bottom: 15px;
}

.contener_each_modif:last-of-type{
    margin-bottom: 0px;
}

.contener{
    padding-left: 0px;
}

strong{
    font-weight: normal;
}

.target{
    color: rgb(231, 221, 109) !important;
}

.property{
    color: rgb(255, 161, 99) !important;
}

.property2{
    color: rgb(227, 73, 73) !important;
}

.value, .incr, .decr, select, #decrMap, #incrMap{
    color: rgb(131, 231, 68) !important;
}

.incr, #incrMap{
    font-family: "inconsolata";
    font-variation-settings: 'wdth' 100, 'wght' 800; 
    cursor: pointer;
    font-size: 1.1vw;
}

.decr, #decrMap{
    font-family: "inconsolata";
    font-variation-settings: 'wdth' 100, 'wght' 800; 
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    font-size: 1.1vw;
}

.key{
    color: rgb(161, 115, 247) !important;
    font-variation-settings: 'wdth' 100, 'wght' 800;
}

.parenthese{
    color: rgb(161, 115, 247) !important;
}

input{
    border: 0px solid white;
    background-color: transparent;
    border-radius: 0%;
    outline: 0px solid;
    color: rgb(131, 231, 68);
    font-family: "inconsolata";
    font-variation-settings: 'wdth' 100, 'wght' 800;
    font-size: .9vw;
    width: fit-content;
    text-align: left;
    cursor: text;
}

#remove_element{
    padding-left: 14px;
}

#add_element{
    width: 40px;
    margin-left: 12px;
}

select{
    border: 0px;
    outline: 0px;
    background-color: transparent;
    font-family: "inconsolata";
    font-size: .9vw;
    cursor: pointer;
    /* width: 40px; */
    width: fit-content;
}

#add_element option{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.option_list{
    color: rgb(20, 20, 20);
    background-color: initial !important;
    padding: 0%;
    margin: 0%;
    font-size: 1vw;
}

.option_list:hover{
    color: rgb(189, 39, 39) !important;
    background-color: blue !important;
}

input::selection{
    background-color: rgb(131, 231, 68) !important;;
    color: rgba(20, 20, 20, 1);
}

#x_axis{
    position: absolute;
    z-index: 3000;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "inconsolata";
}

#y_axis{
    position: absolute;
    z-index: 3000;
    top: 0%;
    right: 0%;
    width: 15px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "inconsolata";
    text-orientation: upright;
    transform: translate(100%, 0%);
}

#player_coordinate{
    width: 100%;
    height: auto;
    background-color: rgba(20, 20, 20, .8);
    position: relative;
    z-index: 2000;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: "inconsolata";
    color: rgba(130, 130, 130, 1);
    font-size: .9vw;
    padding: 5px 0px;
    border-radius: 0px 0px 10px 10px;
}

#player_coordinate p{
    margin: 0 10px;
    font-variation-settings: 'wdth' 100, 'wght' 800;
}

#player_coordinate p:first-of-type{
    margin-left: 15px;
}

#player_coordinate em{
    font-style: normal;
    font-variation-settings: 'wdth' 100, 'wght' 400;
}